$primaryColor: #f4e041;
$secondaryColor: #00bdd3;
$backgroundColor: #f8f8f8;
$errorColor: #cb3d40;
$modalBackgroundColor: rgba(0, 0, 0, 0.4);
$hoverColor: #ffe302;
$cardBackgroundColor: #fff;
$textColor: rgba(0, 0, 0, 0.87);
$disabledColor: rgba(255, 255, 255, 0.87);
$disabledBackgroundColor: #b4b4b4;
$inputBorderColor: #d0cfcf;
$inputLabelColor: #7e7e7e;




