@import "./src/common/styles/variables";
@import "./src/common/styles/mixins";

.radio {
	input {
		position: absolute;
		opacity: 0;
		font-weight: 400;
		font-size: 16px;
		line-height: 26px;
		+ label {
			&:before {
				content: '';
				background: $backgroundColor;
				border-radius: 100%;
				border: 1px solid $inputBorderColor;
				display: inline-block;
				width: 20px;
				height: 20px;
				position: relative;
				top: -1px;
				margin-right: 1em;
				vertical-align: top;
				cursor: pointer;
				text-align: center;
				transition: all 250ms ease;
			}
		}
		&:checked {
			+ label {
				&:before {
					background-color: $secondaryColor;
					box-shadow: inset 0 0 0 4px $backgroundColor;
				}
			}
		}
		&:focus {
			+ label {
				&:before {
					outline: none;
					border-color: $secondaryColor;
				}
			}
		}
		&:disabled {
			+ label {
				&:before {
					border-color: $inputBorderColor;
					background: $backgroundColor;
				}
			}
		}
		+ label {
			&:empty {
				&:before {
					margin-right: 0;
				}
			}
		}
	}
}
