@import "./src/common/styles/variables";
@import "./src/common/styles/mixins";

.button {
	border-radius: 80px;
	background-color: $primaryColor;
	border: none;
	font-weight: 400;
	font-size: 16px;
	line-height: 26px;
	cursor: pointer;
	padding: 4px 24px;
	color: $textColor;
	&:hover {
		background-color: $hoverColor;
	}
}

.disabled {
	background-color: $disabledBackgroundColor;
	color: $disabledColor;
	&:hover {
		background-color: $disabledBackgroundColor;
	}
}

