@import "./src/common/styles/variables";
@import "./src/common/styles/mixins";

.formGroup {
	position: relative;
	input {
		border: 1px solid $inputBorderColor;
		height: 54px;
		width: 380px;
		font-size: 16px;
		line-height: 26px;
		padding: 0 16px;
		color: $textColor;
		border-radius: 4px;
		background: transparent;
		outline: none;
		&:-webkit-autofill {
			transition: background-color 5000s ease-in-out 0s;
		}
		@media screen and (max-width: 450px) {
			width: 328px;
		}
	}
	&::after {
		content: attr(data-placeholder);
		position: absolute;
		top: 26px;
		left: 18px;
		color: $inputLabelColor;
		font-weight: 400;
		font-size: 16px;
		line-height: 26px;
		transform: translateY(-50%);
		background-color: $backgroundColor;
		transition: all 0.2s ease;
	}
	&:focus-within::after,
	&.focused::after {
		top: 0;
		font-size: 12px;
		padding: 0 3px;
		left: 18px;
		line-height: 14px;
	}
	.helperText {
		position: absolute;
		left: 16px;
		top: 56px;
		font-size: 12px;
		color: $inputLabelColor;
	}
	.errorMessage {
		color: $errorColor;
	}
}

.error {
	input:focus, input {
		border: 2px solid $errorColor;
	}
}

.focused {
	.formGroup::after {
		top: 20px;
		font-size: 12px;
		padding: 0 3px;
		left: 13px;
		line-height: 14px;
		color: $inputLabelColor;
		transition: all 0.2s ease;
	}
}

.error.formGroup::after {
	color: $errorColor;
}


